@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  .main {
    @apply flex justify-between w-[1000px] bg-[#EBEFFF] rounded-lg overflow-hidden;
  }
  .form {
    @apply relative z-0 flex flex-col justify-center px-5 py-12 w-96;
  }
  .form-2 {
    @apply flex flex-col justify-center px-5 py-12 w-96;
  }
  input {
    @apply py-1 px-3 rounded-full outline-none bg-transparent border border-blue-500;
  }
  h1 {
    @apply text-lg font-semibold text-center my-2;
  }
  p {
    @apply text-sm text-center;
  }
  span {
    @apply font-semibold underline hover:text-blue-500;
  }
}
